.container{
    margin: 0;
    background-color: black;
    padding-bottom: 30px;
    position: relative;
    height: fit-content;
}

.title{
   color: whitesmoke; 
   top: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   padding: 10px;
}

.app{
    background-color: rgba(33, 31, 31, 0.493);
    padding: 20px;
    font-size: 25px;
    width:65%;
    color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 20px 10px rgb(66, 187, 215);
    padding: 30px;
}
.navbar{
    display: flex;
    justify-content: right;
    width:100%;
    align-items: center;
    height: 60px;
}

.name{
    display: flex;
    justify-content: space-between;
}


.subname1{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
}

.subname2{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
}

.subname3{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
}

.parent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.p1{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
    margin-right: 30px;
}

.dob{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 30px;
    
}

.full{
    margin-right: 30px;
}

.registerno{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 30px;
}

.file{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 30px;
}

.year{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 30px;
    padding: 5px;
}

.year option{
    background-color: black;
}

.branch{

    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}
.branch option{
    background-color: black;
}

.details1{
    margin:10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.details2{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.info{
    margin:10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.subinfo1{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}

.subinfo2{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}

.class{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}

.class option{
    background-color: black;
}

.sign{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}

.submit{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 200x;
   transition: 300ms;
   border: 1px solid whitesmoke;

}


.submit:hover{
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 0 20px 10px rgb(66, 187, 215);
    transform: scale(1.2);
    transition: 300ms;
}

.email{
    width: 60%;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
    margin-left: 30px;
}

.r_error{
    display: none;
    margin-top: 20px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}



button{
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent;
    border:transparent;
    transition: 300ms;
    color: whitesmoke;
   
    padding: 8px;
}

button:hover{
    transform: scale(1.1);
    border-radius: 20px;
    /* box-shadow: 0 0 10px 2px rgb(66, 187, 215); */
    color: whitesmoke;
    transition: 300ms;
    border: 1px solid  rgb(66, 187, 215);
    color: rgb(66, 187, 215);
}


h1{
    border: 1px solid whitesmoke;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding:15px;
}

.form-dull{
    position: fixed;
    filter:brightness(40%)
}

.form_container{
    position: relative;
}


.type{
    display: flex;
    justify-content: space-between;
}