<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
<link rel="stylesheet" href="static/about_us.css">

</head>

<body class="container">

    <img src="static/about_us.jpg" alt="" class="dull-about">
    <div class="about-dull">
    <div class="main">
        <div class="content">
 <center class="head">
    <img src="static/xbplbnrv.uh4.webp" style="height: 100px;height: 100px;margin-top: 20px;">   
<span>
<h1 style="color: red;font-size: 70px;margin: 30px;">
    About Us
</h1>
</span>
</center>
<span>
    <div class="navbar">
    
    <a href="apply_for_concession">
        <button class="concession">Concession</button>
    </a>
   
    </div>
</span>


<center>
    <span>
<div class="co">

    <div class="vision">
<h2>
    Vision
    </h2>
 
    <h3>
To serve and have a transformative impact on society by constantly pursuing excellence in technical education, innovation and entrepreneurship for human development with strong ethical values.
</h3>
</div>

<div class="mission">
<h2>
Mission
 </h2>

 <h3>
Serve and help transform society by graduating talented, broadly educated engineers, equipped with state of art technology resources for developing sustainable solutions.
Academic excellence in Science, Engineering and Technology through dedication to duty, commitment to research, innovation in learning and faith in human values.
Cultivate the spirit of entrepreneurship and the connection between academia and industry that fosters problem solving through collaboration
Enable the students to develop into outstanding professionals with high ethical standards capable of creating, developing and managing global engineering enterprises.
</h3>

</div>


<div class="features">
<h2>
Special Features
 </h2>

 <h3>
New campus is one of the best Technical Campuses in Navi Mumbai, with state of art facilities
Research focused Experienced, qualified, competent and devoted faculty Effective teaching learning process, continuous assessment of student, teacher - guardian scheme
Excellent university results. University merit position of students
Dynamic training and placement cells - more than 75% of graduated students working in reputed firms and remaining pursuing higher education
Strategic partnerships with various industry to offer industry focused add on training and R&D lab set-up to promote research activity
Well-equipped labs and excellent infrastructure
Scholarships/fee waiver for meritorious student
Facility of Education loan with Abhudaya Cooperative Bank as per Bank's term and conditions.
Campus if just 5 mins by bus ride and 10 mins walk from Ghansoli Station.
College provides assistance in getting accommodation for out of city students
</h3>
</div>


</div>
</div>
</div>
</span>
</center>
</div>
</body>
</html>