<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smt. Indira Gandhi College Of Engineering</title>
    <link rel="stylesheet" href="static/home1.css">
</head>
<body class="container">
    

    <div class="dull-home">
    <div class="main">


        <center>
        <div class="primary">
        <div style="display: flex;width: 100%;justify-content: center;margin-right: 200px;">
            <img src="static/xbplbnrv.uh4.webp" class="logo">  
            <div class="title">
            <h1 class="h1">
                Smt. Indira Gandhi College Of Engineering
            </h1>
            <h3 class="h2">
                Accreadited by NAAC with A Grade in 2023
            </h3>
        </div>
        </div>
            </div>
        </center>
            <span>
            <div class="navbar">
                <a href="about_us">
                <button class="about_us">About Us</button>
            </a>
            <a href="apply_for_concession">
                <button class="concession">Concession</button>
            </a>
           
            </div>
        </span>
        

         
            <img src="static/home-dull.avif" alt="" class="home-dull">

            <div class="dull-content"><h1>Inspiration, Innovation and <br> Discovery</h1>
                <p>
                Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects that will be especially useful for you when climbing the career ladder</p>
                    <br>
                <a href="about_us">
                    <button class="learn_more">
                        Learn More
                    </button>
                </a>
            </div>
            <br>
                <br>
                <br>
                    <center>
                <div class="course">
                    <div class="our"><h2><u>Our courses</u></h2></div>
                    <div class="block1">
                        <div class="cse">
                            <img src="static/cse.PNG"  class="p1">
                            <h4>Computer Science And Engineering</h4>
                        
            
                        </div>
                        <div class="elect">
                            <img src="static/elect.PNG" class="p2">
                            <h4>Electrical Engineering</h4>
                        </div>
                    </div>
                <div class="block2">
                    <div class="aids">
                        <img src="static/aids.PNG"  class="p3">
                        <h4>Artificial Intelligence And Data Science Engineering</h4>
                    </div>
                    <div class="aiml">
                        <img src="static/aiml.PNG" alt="" class="p4">
                        <h4>Artificial Intelligence And Machine Learning Engineering</h4>
                    </div>
                </div>
                <div class="block3">
                    <div class="iot">
                        <img src="static/iot.PNG" alt="" class="p5">
                        <h4>Internet Of Things And Cyber Security</h4>
                    </div>
                    <div class="mech">
                        <img src="static/mech.PNG" alt="" class="p6">
                        <h4>Mechanical Engineering</h4>
                    </div>
                </div>
            </div>
            <br><br>
            <br>
            <div class="slider">
                <center><h1><u>Events</u></h1></center>
            <div class="slide-container">
                <div class="slide-images">
                    <div>
                        <img src="static/image1.jpg" alt="null">
                    </div>                  
                    <div>
                        <img src="static/image2.jpg" alt="null">
                    </div>
                    <div>
                        <img src="static/image3.jpeg" alt="null">
                    </div>
                    <div>
                        <img src="static/image4.jpeg" alt="null">
                    </div>
                    <div>
                        <img src="static/image5.jpg" alt="null">
                    </div>
                    <div>
                        <img src="static/image1.jpg" alt="null">
                    </div>                  
                    <div>
                        <img src="static/image2.jpg" alt="null">
                    </div>
                    <div>
                        <img src="static/image3.jpeg" alt="null">
                    </div>
                    <div>
                        <img src="static/image4.jpeg" alt="null">
                    </div>
                    <div>
                        <img src="static/image5.jpg" alt="null">
                    </div>
                   
                </div>
            </div>
        </div>

            <span>
            <div class="foot">
                <img src="static/xbplbnrv.uh4.webp"  class="fo">
                
                <div class="contact">
                    <center>
                    <h2><u>Contact Information</u></h2>
                </center>
                <h5>

                    Address : Plot No. 1, Sector 8, Ghansoli, Navi Mumbai -400701
                    <br>
                    <br>
                    Contact Number: +91-8080949300, +91-7738921077
                    <br>
                    <br>
                    Email ID: contactus@sigce.edu.in
                    
                </h5>

                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.7177808437064!2d72.99534237397096!3d19.120032950591174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0b5f2b2f115%3A0x61de8771901c2056!2sSmt.%20Indira%20Gandhi%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1707486698557!5m2!1sen!2sin" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map">
                    </iframe>
                </div>
            </div>
        </span>
                
    
                
               

        </center>
    </div>
   
</div>
</body>
</html>