<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="static/instructions.css">
</head>
<body class="container">
    <div class="main">
        
        <img src="static/instructions.jpg" alt="" class="background">

        

        <div>
            <div class="navbar">
                <a href="home1">
                    <button>
                        Home
                    </button>
                </a>
                <a href="apply_for_concession">
                    <button>
                        Application Form
                    </button>
                </a>
                <a href="login">
                    <button>
                    Admin Login
                </button>
                </a>
            </div>
            <div class="block">
            <center>
            <h1>
                Instructions
            </h1>
        </center>
            <br>
            <div class="content">
                <h3>
                    1. First Fill Up Form Properly.Don't Leave Blank Space In The Form.
                    <br>
                        <br>
                        2.Upload A Proper  Visible File Of Fee Receipt And Signature in Form.
                        <br>
                        <br>
                        3.Then Submit It Properly.
                        <br>
                        <br>
                        4. Your Form Will Send To The Admin Section.
                        <br>
                        <br>
                        5.After Confirmation Of Accepting Form It Will Send To Your Email-Id By Admin
        </h3>

            </div>
        </div>
    </div>
</div>
    
</body>
</html>