<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/successful.css">
</head>
<body class="container">

    
   <div class="main">
    <center>
        <div class="title">
            <h1>
                Application Form
            </h1>
            <div class="navbar">
                <a href="home1">
                    <button>
                        Home
                </button></a>
                <a href="apply_for_concession">
                    <button>
                    Application Form
                </button>
                </a>
                <a href="login">
                    <button>
                        Admin Login
                </button></a>
                <a href="Instructions">
                <button>Instructions</button>
            </a>
            <a href="feedback">    
            <button>Feedback</button>
        </a>    
        </div>
        </div>

        <br>
        <br>


        <div class="successful">
            <h2>
                Form Is Successfuly Submitted 
            </h2>
        </div>
    
    </center>



</div>
    
</body>
</html>